/*footer*/

.footer {
  padding: 40px 0;

  color: $color-white;
  background-color: $color-primary;

  &__name {
    font-size: 1.3125rem; /*21px*/
    font-weight: 500;
  }

  &__copyright {
    font-size: 0.8125rem; /*13px*/
    line-height: $line-height-lg;
  }
}

